@font-face {
    font-family: LiberationSans-Bold;
    src: url(../fonts/LiberationSans-Bold-webfont.ttf) format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: LiberationSans-Regular;
    src: url(../fonts/LiberationSans-Regular-webfont.ttf) format("truetype");
    font-weight: normal;
}
/* 
general
*/
body {
    font-family: LiberationSans-Regular, sans-serif;
}
.container {
    max-width: 1000px;
    margin: auto;
}
a {
    text-decoration: none;
    color: #1c1c1c;
}
p, a {
    font-size: 15px;
}

/*
Header
*/
/* header{
    border: 2px solid red;
} */
/* .header-left {
    border: 2px solid violet;
} */
/* .header-right {
    border: 2px solid yellow;
} */
h1 {
    color: #1c1c1c;
    font-weight: bold;
    font-size: 18px;
}
.text-color {
    color: #e99e05;
}
.text-center {
    text-align: center;
}
header {
    padding: 25px 16px;
    background-image: url(../images/background.jpg);
}
.header-main {
    display: flex;
    justify-content: space-between;
}
/* header a mettre a droite*/ 
nav ul {
    display: flex;
    flex-wrap: wrap;
}
nav ul li {
    padding-left: 45px;
}
.header-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

/* 
Main
*/
/* main {
    border: 2px solid green;
} */
/* .main-div, img {
    border: 2px solid white;
} */
main {
    background-color: #1c1c1c;
    padding: 16px 16px 0 16px;
}
/* .container{
    border: 2px solid red;
} */
.main-div {
    position: relative;
}
.main-div, img {
    width: 100%;
}
/* .product-row {
    border: 2px solid yellow;
} */
/* .product-item {
    border: 2px solid violet;
} */
.produit-section {
    background-color: #f3f3f3;
    padding: 25px 10px 0 10px;
}
.produit-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.produit-row .produit-item:first-child {
    margin-right: 30px;
}
.produit-item {
    position: relative;
}
.produit-item img {
    max-width: 100%;
}
.produit-item h2 {
    color: #1c1c1c;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: -34px;
}
.produit-item-1,
.produit-item-2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.produit {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;
}
.btn {
    color: #f3f3f3;
    background-color: #1c1c1c;
    padding: 15px 20px;
}
.prix del,
.prix {
    font-size: 30px;
    font-family: LiberationSans-Bold, sans-serif;
    margin-top: 7px;
}
.produit-discount {
    position: absolute;
    top: 10px;
    right: -10px;
    z-index: 2;
    background-color: #1c1c1c;
    padding: 5px 7px;
    color: #e99e05;
    font-family: LiberationSans-Bold, sans-serif;
    font-size: 20px;
    border-radius: 5px;
}
.nav-deuxième {
    max-width: 600px;
    background-color: #fff;
    border-radius: 15px;
    margin: auto;
    padding: 15px 8px;
    transform: translateY(30px);
}
.nav-deuxième ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-separateur {
    background-color: #d1d1d1;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

/* 
Footer
*/
footer {
    background-color: #373737;
    padding: 50px 20px;
}
.icon-row {    
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
}
.icon-item {
    /* border: 2px solid rgb(211, 110, 21); */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}
.icon-item img {
    /* border: 2px solid yellow; */
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
}
.icon-item p {
    /* border: 2px solid rgb(124, 92, 92); */
    color: #fff;
    font-size: 18px;
}
.footer-separation {
    background-color: #818181;
    margin: 20px auto;
    height: 3px;
}
.social-icon {
    display: flex;
    justify-content: center;
}
.social-icon a {
    /* border: 2px solid white; */
    margin: 0px 30px;
}
.copyright {
    font-size: 15px;
    color: #fff;
    margin-top: 25px;
}


/* résolution est inférieure à 576px.  */

/* @media (max-width: 576px) {} */